input {
  border: 1px solid #aaa;
  padding: 5px 20px;
  font-size: 1em;
  margin-left: 10px;
  background: rgba(0,0,0,0);
  color: #fff;
  font-family: 'Tajawal', sans-serif;
}

.App-header {
  background-color: #2d162b;
  padding: 60px;
  color: white;
  letter-spacing: 1px;
}

.App-title {
  font-size: 4em;
  font-weight: 300;
}

.images {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instaImg {
  margin: 20px;
}